body {
  background-color: black;
}
.stock-chart {
  position: absolute;
  display: flex;
  /* top: 200px; */
  /* left: 200px; */
  margin: auto;
  width: 80%;
  height: 600px;
  /* margin: auto; */
  left:100px;
  /* background-color: purple; */
}
.layers {
  position: relative;
  width: 100%;
  height: 500px;
  /* width: auto; */
  /* background-color: green; */
  margin: auto;
  
}

.layers img {
  position: absolute;
  /* max-width: 1500px; */
  width: auto;
}

.layers img.grid {
  filter: opacity(30%);
  width: 100%;
/* 
  transform: perspective(1000px) rotateY(00deg); */
}

.grid-wrapper {
  /* display: flex;
  justify-content: left; */
  position: absolute;
  width: 100%;
  height: 100%;
  transform: perspective(800px) rotateY(40deg);
  transform-origin: left;
}


.layers:hover img.grid {
  /* transition: ease 1s; */
  /* transform: perspective(800px) rotateY(20deg); */
}


.layers img.candle-stick {
  top: 100px;
  width: 100%;

}

.candlstick-wrapper {

  position: absolute;
  width: 80%;
  height: 100%;
  
  /* background-color: rgba(255, 255, 255, 0.61); */
  transform: perspective(800px) rotateY(40deg);
  transform-origin: left;
  left:5px;
  /* top:100px; */
}

body:hover .candlstick-wrapper {
  transform: perspective(800px) rotateY(10deg);
  transition: ease 1s;
}

/* DELETE */
.layers img.candle-stick2 {
  filter: opacity(40%);
  transform: perspective(800px) rotateY(30deg);
  max-width: 100%;
  top: 200px;
}
