body {
  background-color: black;
}
.stock-chart {
  position: absolute;
  display: flex;
  /* top: 200px; */
  /* left: 200px; */
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: purple;
}
.layers {
  position: relative;
  width: 100%;
  height: 500px;
  /* width: auto; */
  background-color: green;
  margin: auto;
}

.layers img {
  position: absolute;
  /* max-width: 1500px; */
  width: 50%;
}

.layers img.grid {
  filter: opacity(90%);
  width: 110%;

  /* max-width: 100%; */
  /* background-color: rgb(142, 142, 142); */
  transform: perspective(800px) rotateY(30deg);
}

.layers:hover img.grid {
  transition: ease 1s;
  /* transform: perspective(800px) rotateY(20deg); */
}

.layers:hover img.candle-stick {
  /* position: absolute; */
  /* transition: ease 1s; */
  /* transform: perspective(800px) rotateY(10deg); */

  /* left: -10em; */
  /* top: 300px; */

  /* transform-origin: left; */
}

.layers img.candle-stick {
}

.candlstick-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);

  /* max-width: 100%; */
  top: 200px;
  transform: perspective(800px) rotateY(30deg);
  transform-origin: left;
}

body:hover .candlstick-wrapper {
  transform: perspective(800px) rotateY(10deg);
}

/* DELETE */
.layers img.candle-stick2 {
  filter: opacity(40%);
  transform: perspective(800px) rotateY(30deg);
  max-width: 100%;
  top: 200px;
}
